/* 
Breakpoints
*/
/**
 * $content layout
 */
/**
 * $content layout
 */
/* positioning
*********************************/
/* Typography 
*********************************/
/* Social Icons
*********************************/
/* Misc, check these.
*********************************/
/**
 * $temp for development
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_box-sizing\.scss}line{font-family:\0000334}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }

/* No files to import found in ../variables/* */
/** horizontal grid **/
/* disabled */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal7Development\/sites\/all\/themes\/newbc\/sass\/variables\/temp\/__temp\%20grid\.scss}line{font-family:\0000331}}
html, .bodycontent {
  width: 100%;
  z-index: 99999999;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(5%, rgba(0, 0, 0, 0.5)), color-stop(5%, rgba(0, 0, 0, 0))), -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(0%, rgba(100, 100, 225, 0.25)), color-stop(3.15789%, rgba(100, 100, 225, 0.25)), color-stop(3.15789%, rgba(0, 0, 0, 0)), color-stop(4.21053%, rgba(0, 0, 0, 0)), color-stop(4.21053%, rgba(100, 100, 225, 0.25)), color-stop(7.36842%, rgba(100, 100, 225, 0.25)), color-stop(7.36842%, rgba(0, 0, 0, 0)), color-stop(8.42105%, rgba(0, 0, 0, 0)), color-stop(8.42105%, rgba(100, 100, 225, 0.25)), color-stop(11.57895%, rgba(100, 100, 225, 0.25)), color-stop(11.57895%, rgba(0, 0, 0, 0)), color-stop(12.63158%, rgba(0, 0, 0, 0)), color-stop(12.63158%, rgba(100, 100, 225, 0.25)), color-stop(15.78947%, rgba(100, 100, 225, 0.25)), color-stop(15.78947%, rgba(0, 0, 0, 0)), color-stop(16.84211%, rgba(0, 0, 0, 0)), color-stop(16.84211%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(100, 100, 225, 0.25)), color-stop(20%, rgba(0, 0, 0, 0)), color-stop(21.05263%, rgba(0, 0, 0, 0)), color-stop(21.05263%, rgba(100, 100, 225, 0.25)), color-stop(24.21053%, rgba(100, 100, 225, 0.25)), color-stop(24.21053%, rgba(0, 0, 0, 0)), color-stop(25.26316%, rgba(0, 0, 0, 0)), color-stop(25.26316%, rgba(100, 100, 225, 0.25)), color-stop(28.42105%, rgba(100, 100, 225, 0.25)), color-stop(28.42105%, rgba(0, 0, 0, 0)), color-stop(29.47368%, rgba(0, 0, 0, 0)), color-stop(29.47368%, rgba(100, 100, 225, 0.25)), color-stop(32.63158%, rgba(100, 100, 225, 0.25)), color-stop(32.63158%, rgba(0, 0, 0, 0)), color-stop(33.68421%, rgba(0, 0, 0, 0)), color-stop(33.68421%, rgba(100, 100, 225, 0.25)), color-stop(36.84211%, rgba(100, 100, 225, 0.25)), color-stop(36.84211%, rgba(0, 0, 0, 0)), color-stop(37.89474%, rgba(0, 0, 0, 0)), color-stop(37.89474%, rgba(100, 100, 225, 0.25)), color-stop(41.05263%, rgba(100, 100, 225, 0.25)), color-stop(41.05263%, rgba(0, 0, 0, 0)), color-stop(42.10526%, rgba(0, 0, 0, 0)), color-stop(42.10526%, rgba(100, 100, 225, 0.25)), color-stop(45.26316%, rgba(100, 100, 225, 0.25)), color-stop(45.26316%, rgba(0, 0, 0, 0)), color-stop(46.31579%, rgba(0, 0, 0, 0)), color-stop(46.31579%, rgba(100, 100, 225, 0.25)), color-stop(49.47368%, rgba(100, 100, 225, 0.25)), color-stop(49.47368%, rgba(0, 0, 0, 0)), color-stop(50.52632%, rgba(0, 0, 0, 0)), color-stop(50.52632%, rgba(100, 100, 225, 0.25)), color-stop(53.68421%, rgba(100, 100, 225, 0.25)), color-stop(53.68421%, rgba(0, 0, 0, 0)), color-stop(54.73684%, rgba(0, 0, 0, 0)), color-stop(54.73684%, rgba(100, 100, 225, 0.25)), color-stop(57.89474%, rgba(100, 100, 225, 0.25)), color-stop(57.89474%, rgba(0, 0, 0, 0)), color-stop(58.94737%, rgba(0, 0, 0, 0)), color-stop(58.94737%, rgba(100, 100, 225, 0.25)), color-stop(62.10526%, rgba(100, 100, 225, 0.25)), color-stop(62.10526%, rgba(0, 0, 0, 0)), color-stop(63.15789%, rgba(0, 0, 0, 0)), color-stop(63.15789%, rgba(100, 100, 225, 0.25)), color-stop(66.31579%, rgba(100, 100, 225, 0.25)), color-stop(66.31579%, rgba(0, 0, 0, 0)), color-stop(67.36842%, rgba(0, 0, 0, 0)), color-stop(67.36842%, rgba(100, 100, 225, 0.25)), color-stop(70.52632%, rgba(100, 100, 225, 0.25)), color-stop(70.52632%, rgba(0, 0, 0, 0)), color-stop(71.57895%, rgba(0, 0, 0, 0)), color-stop(71.57895%, rgba(100, 100, 225, 0.25)), color-stop(74.73684%, rgba(100, 100, 225, 0.25)), color-stop(74.73684%, rgba(0, 0, 0, 0)), color-stop(75.78947%, rgba(0, 0, 0, 0)), color-stop(75.78947%, rgba(100, 100, 225, 0.25)), color-stop(78.94737%, rgba(100, 100, 225, 0.25)), color-stop(78.94737%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(0, 0, 0, 0)), color-stop(80%, rgba(100, 100, 225, 0.25)), color-stop(83.15789%, rgba(100, 100, 225, 0.25)), color-stop(83.15789%, rgba(0, 0, 0, 0)), color-stop(84.21053%, rgba(0, 0, 0, 0)), color-stop(84.21053%, rgba(100, 100, 225, 0.25)), color-stop(87.36842%, rgba(100, 100, 225, 0.25)), color-stop(87.36842%, rgba(0, 0, 0, 0)), color-stop(88.42105%, rgba(0, 0, 0, 0)), color-stop(88.42105%, rgba(100, 100, 225, 0.25)), color-stop(91.57895%, rgba(100, 100, 225, 0.25)), color-stop(91.57895%, rgba(0, 0, 0, 0)), color-stop(92.63158%, rgba(0, 0, 0, 0)), color-stop(92.63158%, rgba(100, 100, 225, 0.25)), color-stop(95.78947%, rgba(100, 100, 225, 0.25)), color-stop(95.78947%, rgba(0, 0, 0, 0)), color-stop(96.84211%, rgba(0, 0, 0, 0)), color-stop(96.84211%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(100, 100, 225, 0.25)), color-stop(100%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.15789%, rgba(0, 0, 0, 0) 3.15789%, rgba(0, 0, 0, 0) 4.21053%, rgba(100, 100, 225, 0.25) 4.21053%, rgba(100, 100, 225, 0.25) 7.36842%, rgba(0, 0, 0, 0) 7.36842%, rgba(0, 0, 0, 0) 8.42105%, rgba(100, 100, 225, 0.25) 8.42105%, rgba(100, 100, 225, 0.25) 11.57895%, rgba(0, 0, 0, 0) 11.57895%, rgba(0, 0, 0, 0) 12.63158%, rgba(100, 100, 225, 0.25) 12.63158%, rgba(100, 100, 225, 0.25) 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 16.84211%, rgba(100, 100, 225, 0.25) 16.84211%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.05263%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(100, 100, 225, 0.25) 24.21053%, rgba(0, 0, 0, 0) 24.21053%, rgba(0, 0, 0, 0) 25.26316%, rgba(100, 100, 225, 0.25) 25.26316%, rgba(100, 100, 225, 0.25) 28.42105%, rgba(0, 0, 0, 0) 28.42105%, rgba(0, 0, 0, 0) 29.47368%, rgba(100, 100, 225, 0.25) 29.47368%, rgba(100, 100, 225, 0.25) 32.63158%, rgba(0, 0, 0, 0) 32.63158%, rgba(0, 0, 0, 0) 33.68421%, rgba(100, 100, 225, 0.25) 33.68421%, rgba(100, 100, 225, 0.25) 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 37.89474%, rgba(100, 100, 225, 0.25) 37.89474%, rgba(100, 100, 225, 0.25) 41.05263%, rgba(0, 0, 0, 0) 41.05263%, rgba(0, 0, 0, 0) 42.10526%, rgba(100, 100, 225, 0.25) 42.10526%, rgba(100, 100, 225, 0.25) 45.26316%, rgba(0, 0, 0, 0) 45.26316%, rgba(0, 0, 0, 0) 46.31579%, rgba(100, 100, 225, 0.25) 46.31579%, rgba(100, 100, 225, 0.25) 49.47368%, rgba(0, 0, 0, 0) 49.47368%, rgba(0, 0, 0, 0) 50.52632%, rgba(100, 100, 225, 0.25) 50.52632%, rgba(100, 100, 225, 0.25) 53.68421%, rgba(0, 0, 0, 0) 53.68421%, rgba(0, 0, 0, 0) 54.73684%, rgba(100, 100, 225, 0.25) 54.73684%, rgba(100, 100, 225, 0.25) 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 58.94737%, rgba(100, 100, 225, 0.25) 58.94737%, rgba(100, 100, 225, 0.25) 62.10526%, rgba(0, 0, 0, 0) 62.10526%, rgba(0, 0, 0, 0) 63.15789%, rgba(100, 100, 225, 0.25) 63.15789%, rgba(100, 100, 225, 0.25) 66.31579%, rgba(0, 0, 0, 0) 66.31579%, rgba(0, 0, 0, 0) 67.36842%, rgba(100, 100, 225, 0.25) 67.36842%, rgba(100, 100, 225, 0.25) 70.52632%, rgba(0, 0, 0, 0) 70.52632%, rgba(0, 0, 0, 0) 71.57895%, rgba(100, 100, 225, 0.25) 71.57895%, rgba(100, 100, 225, 0.25) 74.73684%, rgba(0, 0, 0, 0) 74.73684%, rgba(0, 0, 0, 0) 75.78947%, rgba(100, 100, 225, 0.25) 75.78947%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.15789%, rgba(0, 0, 0, 0) 83.15789%, rgba(0, 0, 0, 0) 84.21053%, rgba(100, 100, 225, 0.25) 84.21053%, rgba(100, 100, 225, 0.25) 87.36842%, rgba(0, 0, 0, 0) 87.36842%, rgba(0, 0, 0, 0) 88.42105%, rgba(100, 100, 225, 0.25) 88.42105%, rgba(100, 100, 225, 0.25) 91.57895%, rgba(0, 0, 0, 0) 91.57895%, rgba(0, 0, 0, 0) 92.63158%, rgba(100, 100, 225, 0.25) 92.63158%, rgba(100, 100, 225, 0.25) 95.78947%, rgba(0, 0, 0, 0) 95.78947%, rgba(0, 0, 0, 0) 96.84211%, rgba(100, 100, 225, 0.25) 96.84211%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.15789%, rgba(0, 0, 0, 0) 3.15789%, rgba(0, 0, 0, 0) 4.21053%, rgba(100, 100, 225, 0.25) 4.21053%, rgba(100, 100, 225, 0.25) 7.36842%, rgba(0, 0, 0, 0) 7.36842%, rgba(0, 0, 0, 0) 8.42105%, rgba(100, 100, 225, 0.25) 8.42105%, rgba(100, 100, 225, 0.25) 11.57895%, rgba(0, 0, 0, 0) 11.57895%, rgba(0, 0, 0, 0) 12.63158%, rgba(100, 100, 225, 0.25) 12.63158%, rgba(100, 100, 225, 0.25) 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 16.84211%, rgba(100, 100, 225, 0.25) 16.84211%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.05263%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(100, 100, 225, 0.25) 24.21053%, rgba(0, 0, 0, 0) 24.21053%, rgba(0, 0, 0, 0) 25.26316%, rgba(100, 100, 225, 0.25) 25.26316%, rgba(100, 100, 225, 0.25) 28.42105%, rgba(0, 0, 0, 0) 28.42105%, rgba(0, 0, 0, 0) 29.47368%, rgba(100, 100, 225, 0.25) 29.47368%, rgba(100, 100, 225, 0.25) 32.63158%, rgba(0, 0, 0, 0) 32.63158%, rgba(0, 0, 0, 0) 33.68421%, rgba(100, 100, 225, 0.25) 33.68421%, rgba(100, 100, 225, 0.25) 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 37.89474%, rgba(100, 100, 225, 0.25) 37.89474%, rgba(100, 100, 225, 0.25) 41.05263%, rgba(0, 0, 0, 0) 41.05263%, rgba(0, 0, 0, 0) 42.10526%, rgba(100, 100, 225, 0.25) 42.10526%, rgba(100, 100, 225, 0.25) 45.26316%, rgba(0, 0, 0, 0) 45.26316%, rgba(0, 0, 0, 0) 46.31579%, rgba(100, 100, 225, 0.25) 46.31579%, rgba(100, 100, 225, 0.25) 49.47368%, rgba(0, 0, 0, 0) 49.47368%, rgba(0, 0, 0, 0) 50.52632%, rgba(100, 100, 225, 0.25) 50.52632%, rgba(100, 100, 225, 0.25) 53.68421%, rgba(0, 0, 0, 0) 53.68421%, rgba(0, 0, 0, 0) 54.73684%, rgba(100, 100, 225, 0.25) 54.73684%, rgba(100, 100, 225, 0.25) 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 58.94737%, rgba(100, 100, 225, 0.25) 58.94737%, rgba(100, 100, 225, 0.25) 62.10526%, rgba(0, 0, 0, 0) 62.10526%, rgba(0, 0, 0, 0) 63.15789%, rgba(100, 100, 225, 0.25) 63.15789%, rgba(100, 100, 225, 0.25) 66.31579%, rgba(0, 0, 0, 0) 66.31579%, rgba(0, 0, 0, 0) 67.36842%, rgba(100, 100, 225, 0.25) 67.36842%, rgba(100, 100, 225, 0.25) 70.52632%, rgba(0, 0, 0, 0) 70.52632%, rgba(0, 0, 0, 0) 71.57895%, rgba(100, 100, 225, 0.25) 71.57895%, rgba(100, 100, 225, 0.25) 74.73684%, rgba(0, 0, 0, 0) 74.73684%, rgba(0, 0, 0, 0) 75.78947%, rgba(100, 100, 225, 0.25) 75.78947%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.15789%, rgba(0, 0, 0, 0) 83.15789%, rgba(0, 0, 0, 0) 84.21053%, rgba(100, 100, 225, 0.25) 84.21053%, rgba(100, 100, 225, 0.25) 87.36842%, rgba(0, 0, 0, 0) 87.36842%, rgba(0, 0, 0, 0) 88.42105%, rgba(100, 100, 225, 0.25) 88.42105%, rgba(100, 100, 225, 0.25) 91.57895%, rgba(0, 0, 0, 0) 91.57895%, rgba(0, 0, 0, 0) 92.63158%, rgba(100, 100, 225, 0.25) 92.63158%, rgba(100, 100, 225, 0.25) 95.78947%, rgba(0, 0, 0, 0) 95.78947%, rgba(0, 0, 0, 0) 96.84211%, rgba(100, 100, 225, 0.25) 96.84211%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.15789%, rgba(0, 0, 0, 0) 3.15789%, rgba(0, 0, 0, 0) 4.21053%, rgba(100, 100, 225, 0.25) 4.21053%, rgba(100, 100, 225, 0.25) 7.36842%, rgba(0, 0, 0, 0) 7.36842%, rgba(0, 0, 0, 0) 8.42105%, rgba(100, 100, 225, 0.25) 8.42105%, rgba(100, 100, 225, 0.25) 11.57895%, rgba(0, 0, 0, 0) 11.57895%, rgba(0, 0, 0, 0) 12.63158%, rgba(100, 100, 225, 0.25) 12.63158%, rgba(100, 100, 225, 0.25) 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 16.84211%, rgba(100, 100, 225, 0.25) 16.84211%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.05263%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(100, 100, 225, 0.25) 24.21053%, rgba(0, 0, 0, 0) 24.21053%, rgba(0, 0, 0, 0) 25.26316%, rgba(100, 100, 225, 0.25) 25.26316%, rgba(100, 100, 225, 0.25) 28.42105%, rgba(0, 0, 0, 0) 28.42105%, rgba(0, 0, 0, 0) 29.47368%, rgba(100, 100, 225, 0.25) 29.47368%, rgba(100, 100, 225, 0.25) 32.63158%, rgba(0, 0, 0, 0) 32.63158%, rgba(0, 0, 0, 0) 33.68421%, rgba(100, 100, 225, 0.25) 33.68421%, rgba(100, 100, 225, 0.25) 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 37.89474%, rgba(100, 100, 225, 0.25) 37.89474%, rgba(100, 100, 225, 0.25) 41.05263%, rgba(0, 0, 0, 0) 41.05263%, rgba(0, 0, 0, 0) 42.10526%, rgba(100, 100, 225, 0.25) 42.10526%, rgba(100, 100, 225, 0.25) 45.26316%, rgba(0, 0, 0, 0) 45.26316%, rgba(0, 0, 0, 0) 46.31579%, rgba(100, 100, 225, 0.25) 46.31579%, rgba(100, 100, 225, 0.25) 49.47368%, rgba(0, 0, 0, 0) 49.47368%, rgba(0, 0, 0, 0) 50.52632%, rgba(100, 100, 225, 0.25) 50.52632%, rgba(100, 100, 225, 0.25) 53.68421%, rgba(0, 0, 0, 0) 53.68421%, rgba(0, 0, 0, 0) 54.73684%, rgba(100, 100, 225, 0.25) 54.73684%, rgba(100, 100, 225, 0.25) 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 58.94737%, rgba(100, 100, 225, 0.25) 58.94737%, rgba(100, 100, 225, 0.25) 62.10526%, rgba(0, 0, 0, 0) 62.10526%, rgba(0, 0, 0, 0) 63.15789%, rgba(100, 100, 225, 0.25) 63.15789%, rgba(100, 100, 225, 0.25) 66.31579%, rgba(0, 0, 0, 0) 66.31579%, rgba(0, 0, 0, 0) 67.36842%, rgba(100, 100, 225, 0.25) 67.36842%, rgba(100, 100, 225, 0.25) 70.52632%, rgba(0, 0, 0, 0) 70.52632%, rgba(0, 0, 0, 0) 71.57895%, rgba(100, 100, 225, 0.25) 71.57895%, rgba(100, 100, 225, 0.25) 74.73684%, rgba(0, 0, 0, 0) 74.73684%, rgba(0, 0, 0, 0) 75.78947%, rgba(100, 100, 225, 0.25) 75.78947%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.15789%, rgba(0, 0, 0, 0) 83.15789%, rgba(0, 0, 0, 0) 84.21053%, rgba(100, 100, 225, 0.25) 84.21053%, rgba(100, 100, 225, 0.25) 87.36842%, rgba(0, 0, 0, 0) 87.36842%, rgba(0, 0, 0, 0) 88.42105%, rgba(100, 100, 225, 0.25) 88.42105%, rgba(100, 100, 225, 0.25) 91.57895%, rgba(0, 0, 0, 0) 91.57895%, rgba(0, 0, 0, 0) 92.63158%, rgba(100, 100, 225, 0.25) 92.63158%, rgba(100, 100, 225, 0.25) 95.78947%, rgba(0, 0, 0, 0) 95.78947%, rgba(0, 0, 0, 0) 96.84211%, rgba(100, 100, 225, 0.25) 96.84211%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.5) 5%, rgba(0, 0, 0, 0) 5%), linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(100, 100, 225, 0.25) 0%, rgba(100, 100, 225, 0.25) 3.15789%, rgba(0, 0, 0, 0) 3.15789%, rgba(0, 0, 0, 0) 4.21053%, rgba(100, 100, 225, 0.25) 4.21053%, rgba(100, 100, 225, 0.25) 7.36842%, rgba(0, 0, 0, 0) 7.36842%, rgba(0, 0, 0, 0) 8.42105%, rgba(100, 100, 225, 0.25) 8.42105%, rgba(100, 100, 225, 0.25) 11.57895%, rgba(0, 0, 0, 0) 11.57895%, rgba(0, 0, 0, 0) 12.63158%, rgba(100, 100, 225, 0.25) 12.63158%, rgba(100, 100, 225, 0.25) 15.78947%, rgba(0, 0, 0, 0) 15.78947%, rgba(0, 0, 0, 0) 16.84211%, rgba(100, 100, 225, 0.25) 16.84211%, rgba(100, 100, 225, 0.25) 20%, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0) 21.05263%, rgba(100, 100, 225, 0.25) 21.05263%, rgba(100, 100, 225, 0.25) 24.21053%, rgba(0, 0, 0, 0) 24.21053%, rgba(0, 0, 0, 0) 25.26316%, rgba(100, 100, 225, 0.25) 25.26316%, rgba(100, 100, 225, 0.25) 28.42105%, rgba(0, 0, 0, 0) 28.42105%, rgba(0, 0, 0, 0) 29.47368%, rgba(100, 100, 225, 0.25) 29.47368%, rgba(100, 100, 225, 0.25) 32.63158%, rgba(0, 0, 0, 0) 32.63158%, rgba(0, 0, 0, 0) 33.68421%, rgba(100, 100, 225, 0.25) 33.68421%, rgba(100, 100, 225, 0.25) 36.84211%, rgba(0, 0, 0, 0) 36.84211%, rgba(0, 0, 0, 0) 37.89474%, rgba(100, 100, 225, 0.25) 37.89474%, rgba(100, 100, 225, 0.25) 41.05263%, rgba(0, 0, 0, 0) 41.05263%, rgba(0, 0, 0, 0) 42.10526%, rgba(100, 100, 225, 0.25) 42.10526%, rgba(100, 100, 225, 0.25) 45.26316%, rgba(0, 0, 0, 0) 45.26316%, rgba(0, 0, 0, 0) 46.31579%, rgba(100, 100, 225, 0.25) 46.31579%, rgba(100, 100, 225, 0.25) 49.47368%, rgba(0, 0, 0, 0) 49.47368%, rgba(0, 0, 0, 0) 50.52632%, rgba(100, 100, 225, 0.25) 50.52632%, rgba(100, 100, 225, 0.25) 53.68421%, rgba(0, 0, 0, 0) 53.68421%, rgba(0, 0, 0, 0) 54.73684%, rgba(100, 100, 225, 0.25) 54.73684%, rgba(100, 100, 225, 0.25) 57.89474%, rgba(0, 0, 0, 0) 57.89474%, rgba(0, 0, 0, 0) 58.94737%, rgba(100, 100, 225, 0.25) 58.94737%, rgba(100, 100, 225, 0.25) 62.10526%, rgba(0, 0, 0, 0) 62.10526%, rgba(0, 0, 0, 0) 63.15789%, rgba(100, 100, 225, 0.25) 63.15789%, rgba(100, 100, 225, 0.25) 66.31579%, rgba(0, 0, 0, 0) 66.31579%, rgba(0, 0, 0, 0) 67.36842%, rgba(100, 100, 225, 0.25) 67.36842%, rgba(100, 100, 225, 0.25) 70.52632%, rgba(0, 0, 0, 0) 70.52632%, rgba(0, 0, 0, 0) 71.57895%, rgba(100, 100, 225, 0.25) 71.57895%, rgba(100, 100, 225, 0.25) 74.73684%, rgba(0, 0, 0, 0) 74.73684%, rgba(0, 0, 0, 0) 75.78947%, rgba(100, 100, 225, 0.25) 75.78947%, rgba(100, 100, 225, 0.25) 78.94737%, rgba(0, 0, 0, 0) 78.94737%, rgba(0, 0, 0, 0) 80%, rgba(100, 100, 225, 0.25) 80%, rgba(100, 100, 225, 0.25) 83.15789%, rgba(0, 0, 0, 0) 83.15789%, rgba(0, 0, 0, 0) 84.21053%, rgba(100, 100, 225, 0.25) 84.21053%, rgba(100, 100, 225, 0.25) 87.36842%, rgba(0, 0, 0, 0) 87.36842%, rgba(0, 0, 0, 0) 88.42105%, rgba(100, 100, 225, 0.25) 88.42105%, rgba(100, 100, 225, 0.25) 91.57895%, rgba(0, 0, 0, 0) 91.57895%, rgba(0, 0, 0, 0) 92.63158%, rgba(100, 100, 225, 0.25) 92.63158%, rgba(100, 100, 225, 0.25) 95.78947%, rgba(0, 0, 0, 0) 95.78947%, rgba(0, 0, 0, 0) 96.84211%, rgba(100, 100, 225, 0.25) 96.84211%, rgba(100, 100, 225, 0.25) 100%, rgba(0, 0, 0, 0) 100%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-size: 100% 1em, auto;
  -moz-background-size: 100% 1em, auto;
  -o-background-size: 100% 1em, auto;
  background-size: 100% 1em, auto;
  background-position: left top; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/Sites\/Drupal7Development\/sites\/all\/themes\/newbc\/sass\/variables\/temp\/__temp\%20grid\.scss}line{font-family:\0000356}}
.headerrow {
  background: url("/bikes.jpg") no-repeat fixed center center/cover rgba(0, 0, 0, 0) !important; }

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
/*! normalize.css v3.0.0 | HTML5 Display Definitions | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000320}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000332}}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000340}}
audio:not([controls]) {
  display: none;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_html5\.scss}line{font-family:\0000348}}
[hidden],
template {
  display: none; }

/*! normalize.css v3.0.0 | Base | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000311}}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_base\.scss}line{font-family:\0000319}}
body {
  margin: 0; }

/*! normalize.css v3.0.0 | Links | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\000039}}
a {
  background: transparent; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_links\.scss}line{font-family:\0000316}}
a:active,
a:hover {
  outline: 0; }

/*! normalize.css v3.0.0 | Typography | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\000039}}
abbr[title] {
  border-bottom: 1px dotted; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000316}}
b,
strong {
  font-weight: bold; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000322}}
dfn {
  font-style: italic; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000329}}
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000336}}
mark {
  background: #ff0;
  color: #000; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000343}}
small {
  font-size: 80%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000350}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000357}}
sup {
  top: -0.5em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_typography\.scss}line{font-family:\0000361}}
sub {
  bottom: -0.25em; }

/*! normalize.css v3.0.0 | Embedded Content | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\000039}}
img {
  border: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_embeds\.scss}line{font-family:\0000315}}
svg:not(:root) {
  overflow: hidden; }

/*! normalize.css v3.0.0 | Figures | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\000039}}
figure {
  margin: 1em 40px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000315}}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000323}}
pre {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_groups\.scss}line{font-family:\0000332}}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/*! normalize.css v3.0.0 | Forms | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000319}}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000327}}
button {
  overflow: visible; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000337}}
button,
select {
  text-transform: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000350}}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000358}}
button[disabled],
html input[disabled] {
  cursor: default; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000365}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000373}}
input {
  line-height: normal; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000384}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\0000394}}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003102}}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003114}}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003120}}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003129}}
legend {
  border: 0;
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003136}}
textarea {
  overflow: auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_forms\.scss}line{font-family:\00003143}}
optgroup {
  font-weight: bold; }

/*! normalize.css v3.0.0 | Tables | MIT License | git.io/normalize */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\000039}}
table {
  border-collapse: collapse;
  border-spacing: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/compass-normalize-1\.5\/stylesheets\/normalize\/_tables\.scss}line{font-family:\0000315}}
td,
th {
  padding: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/tandoori\/\.rvm\/gems\/ruby-1\.9\.3-p545\@omega\.newbc\/gems\/toolkit-1\.3\.8\/stylesheets\/toolkit\/_box-sizing\.scss}line{font-family:\0000336}}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *behavior: url('../behaviors/box-sizing/boxsizing.php'); }
