/*

// Hide the toolbar or admin menu on small screens.
@import 'breakpoint';
  #toolbar, #admin-menu {
  	@include breakpoint($breakii){
    display: none;
	}
  }

  html {
    body.toolbar, body.admin-menu {
      padding-top: 0 !important;
      margin-top: 0 !important;
    }
  }

*/