/**
 * $SEARCH-FORM
 */
.search-block-form {
  .form-text {
    width: auto;
    padding: 0.4em;
  }
}

.pane-search-form {
//	display: inline-block;
display: none;
	input {background-color: red;
		//@include circle(50px,#999);
	}
	input:after {content:'>&nbsp;'}
}