/**
 * $SEARCH-FORM
 */


.outer_search {
	width: 100%;
}



.search_block {
   display: initial;
}
.search_form {
	display: flex;
	width: 100%;
	#edit-submit{width: 30%;
		margin-left: 1rem;
		margin-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#input_box{width: 65%;height: 2rem;}
	@include breakpoint($breakii) {
	margin: .25rem;
	}
}


.pane-logintoboggan-logintoboggan-logged-in { //, .search_form {
	display: none;
	right: 0;
	@include breakpoint($breakii) {
    	* {margin: .2rem;}
		position: absolute;
		top: inherit;
		bottom: 3rem;
		left: 0;
		#edit-submit{position: absolute;right:0;width: 25%}
		#input_box{width: 70%;height: 2rem;}
		select, input, textarea {padding: 0.1rem}
	}
}


.fa-times-circle-o {
  color: grey;
  font-size: 1.5rem !important;
  margin-left: -1.7rem;
  margin-top: 0.23rem;
}