//rtchecked
/**
 * $bikeshop stylings
 */

//input box
.light-table-filter {
  border-radius: $radius;
  line-height: 2rem;
  margin: 0.2rem 0;
  padding: 0 1%;
}
.bike-shop-reset {
  vertical-align: sub;
}