/**
 * $blog stylings (do not include conatiner stylings)
 */


/*********** Rand *************

you should have a blog .css so taht you can give it the 
css for both instead of doing what you have done below.

*/


//temp

.view-frontpage {
  img, media {
  max-width: 70%;
  height: auto;
  vertical-align: top;
  }
}


//blog mixin 
@mixin blogstyle {

  .views-row {
  padding: 2rem;    
  // this should be calculated with the picture sized to
  //match the size of the row
  //but I think the picture size is set by the medium blog image handler.
  height: 320px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid black;

  box-sizing: border-box;
  margin-bottom: $padder;

    section {
    box-sizing: border-box;
    float: right;
    padding-left: 30px;
    width: 66.34%;
    }

    .views-field-field-picture {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    width: 33.66%;
    }
  }
  .more-link {
  top: -4rem;
  position: relative;
  right: 1rem;
  height: 0;
  }

/*** media queries  ***/

  @include breakpoint($breakii) {

    /*
next thing to work on is to make the mobile header and blog posts and everything 
else on the page a good ratio or the same size or whatever.

    */

    .views-row {
      margin: 0;
      padding: .5rem;
      height: 80px;
      h2 {font-size: 1.1rem;}
      img {height: 65px}
      border-bottom: 1px solid lighten($colourviii,30%);
      section {padding-left: .5rem;}
      text-align: left;
    }
    .views-field-name {font-size: .70rem}
    .views-field-body,
     //.views-field-name,
     .more-link  {display: none;}
  }
}