/**
 * $blog stylings (do not include conatiner stylings)
 */

//temp for figuring out the best 
//mobile styles, the correct one is the 
// blog.sass.bak

@mixin blogstyle {
.views-row {
	//remove the lineb below this.
//	padding-bottom: 2rem;
	/** temp to make padding cool on mobile **/
	@include breakpoint($breakii) {
			padding: 2rem 2rem 0;
	}
	position: relative;
//    border: 1px solid red;
    img {
    	// on the two wheeled view need height 100%
    	//is there a way to zoom or crop images to square?
    	// or do this automatically with drupal?
    	width: 100%; height: auto;
    }
    .views-field-title {
		color: white;
		padding: 2rem;
		position: absolute;
		top: 30%;
		width: 90%;
		}
     }
}

