/**
 * $Usermenu
 */

.pane-logintoboggan-logintoboggan-logged-in {
	display: none;
	float: right;
	padding: .5rem 2.5rem; // 0 0;
	margin: .25rem 0;
    @include shader;
	@include breakpoint($breakii) {
 		background: $colouriv;
		width: 50%;
		padding: .5rem;
		text-align: center;
	}
}

.userloginblok {display: inline-block;}

.usermenu {
  max-width: 500px;
  //center the block and center text within block
  @include center-block;
  .menu {display: inline-block;}
}

.pane-system-user-menu {
	a, li, .menu, ul, li a {content: "\f0d9";
	font-family: FontAwesome;
	}
	content: "\f0d9";
	font-family: FontAwesome;
	li {list-style: none;}
}