/**
 * $Usermenu
 */

.pane-logintoboggan-logintoboggan-logged-in {
	padding: 0 2.5rem;
	margin: 1rem 0;
	@include breakpoint($breakii){
	padding: 1rem 0;
	margin: 0;
	text-align: center;
	}
}


.userloginblok {display: inline-block;}

.usermenu {
  max-width: 500px;
  //center the block and center text within block
  @include center-block;
  .menu {display: inline-block;}
}

.pane-system-user-menu {
	a, li, .menu, ul, li a {content: "\f0d9";
	font-family: FontAwesome;
	}
	content: "\f0d9";
	font-family: FontAwesome;
	li {list-style: none;}
}