/**
 * $Media_queries
 */


//.season_row {display: none}
//hide blog on small screen
.blog_row {display: none;}


// home page mobile idea, 2 columns with the symbols and clicakble.
// 3 columns was too small

//divide the categories up into about 6 ones and on bigger it will show all
//summer season should be a category.
/*
.blurbs {
//  @include breakpoint($breakii) {
		.view-content {
		  background-color: hsla(0, 0%, 0%, .4 );
		  //spaces out the things.
		  text-align: justify;
		}
		.views-field-body{display: none;}
//		.fa {font-size: 3rem;
			//use the fittext js to make this big and small.
//			display: block !important;
//		}
		.views-row {
//		  display: block;
//		  margin-left: auto;
//		  margin-right: auto;
		  text-align: center;
		//  width: 50%; //make this 50 and add the singluraity columns
		  padding: 1rem;
//		  width: (100%)/3;
		  display: inline-table;
		}

		.views-field-field-icon, .views-field-title {
		  display: block;
		}
//	}
}
*/

body {
	@include breakpoint($breaki) {
		background-color: $colouriii;
	}
}

.blurbs {
	@include breakpoint($breaki) {
		.fa {display: list-item;
			list-style: none;
			text-align: center;
		//	font-size: 3rem;
		}
		h2 {text-align: center;}
//	max-width: 33%;
	.views-field-body {display: none;}
//	.views-row {max-width: 100px;}
	.view-content {
//		border: medium solid yellow;
	}
	.views-row {
	  float: left;
	  width: 50%;
	  padding: .5rem .2rem;
	  :hover {background-color: $colouriv;
	  	color: $colouri}  
	}
	h2 {font-size: 1.2rem;
		color: $colourv;
		padding: .3rem;
		box-sizing:border-box;
	}
	
	}
}
