

.bodycontent {
    //show the grid as a background
    $gutter-styles: 'split';    
    @include background-grid($color: $headerbackground);
    width: 100%
}  

.blogposts, .blurbs, .season {
  width: 100%;
}


.season {
  .pane-node {@include grid-span(6, 1);}
  .pane-views-full-calendar-block {@include grid-span(6, 7);}
  // temp below
  .pane-calendarheader {display: none}
}


.blogposts, .blurbs {
  .views-row {
  $gutters: 3/3; //this looks good but still doesn't line up with the background grid
  @include grid-span(4, 1, $output-style: 'float');
  background-color: green;
//  @include padder;
  }
}

.blurbs {
  h2 {font-size: 1.5rem;}
  .views-field-field-icon, .views-field-title {
    display: inline-block;
  }
}




// july 25, 2014 legacy rebuild below.

/*


.blogpost {max-width: $vert-spacing-unit*18}


.blog {
text-align: center;
background-color: rgba($headerbackground, .5);
padding: 0 .5rem;
}

@mixin circ {
  border: solid; 
  border-width: thin;
  border-color: #e8e8e8;
}


//user picture container

.blog .user-picture {
  padding: .3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  @include circ;
  &:hover {background-color: $bcgren;}
  z-index: 1;
  position: relative;
  top: -40px; //half the size of the .node--submitted div.
  //user picture
  img {
    $sizer: 5rem;
    border-radius: $sizer/2;
    height: $sizer;
    width: $sizer;
    @include circ;
    }
}

// blog image
.blog .views-field-field-picture {
	position: relative;
	overflow: hidden;
	img {border-radius: 3px;}
}

.blog .views-field-title a {
  color: $headerlink;
  &:hover {color:$headerlinkhover;}
  font-size: 120%;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  top: -25px;
}

// add the awefonts for comments and blog post times
//expand 2nd div to container
// this page is now too bland?

*/