/**
 * $MESSAGES
 */
.messages {
  padding-left: 10px;
  margin-bottom: $vert-spacing-unit;
}

.messages--status {
  color: $colouriv;
  background: lighten($colouriv, 50%);
  border-color: lighten($colouriv, 20%);
}

.messages--warning {
  color: $msgs;
  background: lighten($msgs, 50%);
  border-color: lighten($msgs, 20%);
}

.messages--error {
  color: $colourv;
  background: lighten($colourv, 50%);
  border-color: lighten($colourv, 20%);
}
