/**
 * $SEASONAL
 */

 //hide the submitted content
.node--seasonal .node__submitted {display: none;}

.season .inside {max-height: $vert-spacing-unit;}

//make the boxes in the middle lyrical speed boxes the Maxim lit with
//me make those boxes and maximum width because it looks weird
//last notes to RT

//padding for season
.season .pane-node {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
// center the season title
.season .pane-title {
  text-align: center;
}
//hide the stat counter
.season .statistics_counter{
  display: none;
}
//shrinking this to look really neat inside
.season .field__item.even {
  @include center-block;
  max-width: 200px;
}

.season .pane-node {background-color:lighten($headerbackground,45%);
	color: $headerbackground;
}

.season .views-field-body{max-height: 400px;
overflow: hidden;
}