/**
 * $SITE-BRANDING
 */
.site-branding {
  padding: 1em 0;
  @include clearfix(true);
}

.site-branding__name,
.site-branding__logo {
  display: block;
  float: left;
}

.site-branding__name {
  @extend .gamma;
  color: #fff;
  text-decoration: none;

  &:visited {
    color: #fff;
  }
  &:hover {
    color: $h_hover_colour;
  }
}

//--- Header ---
//size logo
#logo > img {
  width: 25rem;
}

// colour and size header row
.headerrow {
  width: 100%;
  background-color: $headerbackground;
  }
  
//show header items as inline
.headerrow, .pane-page-logo, .usermenu {
  display: inline-block;
}
// center header
.header {width: 100%;
  text-align: center;
}

// social icons
.follow {
  display: inline;
  @include breakpoint ($firstbreak){
  display: none;
  }
}
