/**
 * $SITE-BRANDING
 */

.node--seasonal .node__submitted {display: none;}

//--- Header ---

//normalize header
.header {
    div, li, a {color:$headerlink;
  &:hover {color:$headerlinkhover}
  }
  input {color: $link;
  background-color: $buttonbak;
  &:hover {color:$linkhover;}
  }
}

/* 
********* Logo
*/

//size logo
#logo > img {
  height: 3rem;
  //@include breakpoint ($breakii){
    padding: .1rem .5rem; 
    //}
}

// re-posittion logo on mobile view
.pane-page-logo {
  @include breakpoint ($breakii){
  position: absolute;
  left: 3.5rem;
  }
  @include breakpoint ($breaki){
  top: 0.5rem
  }
}

// colour and size header row
.headerrow {
  width: 100%;
  background-color: $headerbackground;
  }
  
//show header items as inline
/*.headerrow, .pane-page-logo {
  display: inline-block;
}
*/

// center header
.header {width: 100%;
  text-align: center;
// this is for the logo etc.
 @include breakpoint ($breakii){text-align: left;
   margin: 0.5rem; }
}

// social icons
.follow {
  display: inline;
  vertical-align: bottom;
  @include breakpoint ($breakii){
  display: none;
  }
}

// to compensate for Ctools body with 99% as default
.bodycontent {width: 100%;}
//another ctools fix
.sitecontainer .panels-flexible-row {padding: 0;}

//the full site container
 .sitecontainer {
// RT temp disable jul 26

//background-color:lighten($headerbackground,5%);
//opacity: .75;

//background: elopment/sites/bc.localhost/files/P3203252.png;
//background:url('/files/P3203252.png') no-repeat fixed center ;
//background-size: cover;
}