/**
 * $SITE-BRANDING
 */



.node--seasonal .node__submitted {display: none;}


/*


#logo {z-index: 9999;}

#logo > img {
  height: $menu_size;
//  margin-left: $vert-spacing-unit;
  box-sizing:content-box;
  @include breakpoint ($breaki) {
    height: 2.5rem;
//    height:$menu_size2;
  }
}

//set the positition of the menu and logo in screen.
$menu_logo_padding: .3rem;


#logo > img { 
  padding: $menu_logo_padding;
  }
  .dl-menuwrapper button {
     margin: $menu_logo_padding + 0.05rem;
  }

*/


/** Body
*/
// to compensate for Ctools body with 99% as default
.bodycontent {width: 100%;}

//another ctools fix
.sitecontainer .panels-flexible-row {padding: 0;}

//the full site container
 .sitecontainer {
// RT temp disable jul 26

//background-color:lighten($headerbackground,5%);
//opacity: .75;

//background: elopment/sites/bc.localhost/files/P3203252.png;
//background:url('/files/P3203252.png') no-repeat fixed center ;
//background-size: cover;
}