@import "compass/layout/grid-background";
//first child of grid mode or first row of blog posts (unformatted)
.views-view-grid td:first-child ,.views-row-odd { background-color:$oddrow;}
.views-view-grid td:nth-child(2n), .views-row-even { background-color:darken($oddrow, 20%);}
/*.node--blog-content {
	margin: 10px;
}
.node__title {
  padding-top: 15px;
}*/

article { position: relative;
	header {position: absolute; bottom: 0; left: 0; }
	.statistics_counter {
	position: absolute;
	right: 0;
	top: 0;}
}

.node__content img {
  width: 100%;
}
