/**
 * $body styles, break them down if it gets too bike
 */


/* move this later into the base folder?
*************************/

//blurb inside pages

.not-front {
  background-color: lighten($colouriii, 20%);
  .bodycontent {
    padding: 0.5% 2%;
  }
  /* using the below for blurbs inside */


/*





    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    img {width: 100%;height: 100%;}
  }

/*

  img {
    position: absolute;
    top: 0;
    background-size: cover;
//    width: 100%;
//    height: 100%;
    z-index: 1
  }
  */

  
  .node-type-homepage-blurbs {text-align: center;}

  .field--name-body, .tabs a {
    color: $colourv;
    text-shadow:0 1px 1px #00267f;
  }
  .tabs a {background-color: rgba(0, 0, 0, 0.5);
      border-radius: $radius;
  }


}
