/**
 * $body styles, break them down if it gets too bike
 */

//blurb inside pages

.not-front {
//  body {background-color: blue}

  /* using the below for blurbs inside */

.field--name-field-picture {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  }
}

/*





    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    img {width: 100%;height: 100%;}
  }

/*

  img {
    position: absolute;
    top: 0;
    background-size: cover;
//    width: 100%;
//    height: 100%;
    z-index: 1
  }
  */
  .pane-page-tabs, .field--name-body, .panel-pane.pane-page-title {
    z-index: 3;
    position: relative;
    text-align: center;
  }
  
  .node-type-homepage-blurbs {text-align: center;}

  .field--name-body, .tabs a {
    color: $colourv;
    text-shadow:0 1px 1px #00267f;
  }
  .tabs a {background-color: rgba(0, 0, 0, 0.5);
      border-radius: $radius;
  }


}
