// - ohm theme colours:

$colourvhover:#FFFF0D;
$colouriv :red; //is also table header, comment instruct
$h_hover_colour: purple;
$fontcolour: #222222;
$oddrow: pink;
$markerbak:#52b1ea;
$bakcolour: #ddd;
$bordercolour: #6a7076;

$msgs:#d6c460;
$msgs     : #d6c460;


//Even Better

// BC Logo Colours:

// main font colour
$colouri:#80CC28;
// main page background
$colourii:$colourvhover;
// header / contrast background
$colouriii: #1A80D9;
// header / contrast colour
$colouriv:#00267F;

//white contrast background
$colourv:#FFFFFF;
$colourvi:#00267F;

//header colour opaque
//$shad:255; //white
$shad:126; //grey
//$shad:0; //black
//white
//$colourvii: none repeat scroll 0 0 rgba($shad, $shad, $shad, 0.6);
//grey
$colourvii: none repeat scroll 0 0 rgba($shad,$shad,$shad, 0.6);
//grey
$colourviii: $bordercolour;
//black
//$colourvii: none repeat scroll 0 0 rgba(0,0,0, 0.2);