/**
 * $content layout
 */

 /*
//Gutters?

/** Mixins!!!
**/


/** positioning
*/

//float center block
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//other center block

//panels regions

//* these coudl ben combined

//override ctools to make nice
@mixin regioner_r {
    margin-right: $padder;
    margin-top: $padder/2;
    > div {margin-bottom: $padder;}
}

@mixin regioner_l {
    margin-left: $padder;
    margin-top: $padder/2;
    > div {margin-bottom: $padder;}
}


//* end  these coudl ben combined

//center header cool text
@mixin center-styler {
  .pane-title {text-align: center;}
  //shrinking this to look really neat inside
  .field__item.even {
  @include center-block;
  max-width: 50%;
  }
  //hide the stat counter
  .statistics_counter{ display: none;}
}

// to share the h2 with other things.
@mixin headerdecorate {
  color: $colouriii;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

@mixin headercol {
    color: $headerlink;
    text-shadow:0 1px 2px rgba(0,0,0,0.6);
}
@mixin backgro {
  //change this to blur.
  background-color: rgba($headerbackground, .5);
}

@mixin threespan {
  //change gutter style
  $gutter-styles: 'split'; 
//  $gutters: 1; //this looks good but still doesn't line up with the background grid
  @include grid-span($grids/3, 1, $output-style: 'float');
  //change back gutter style
  $gutter-styles: 'opposite';  
}

  // $socisize is the circle size
@mixin circle($socisize: $vert-spacing-unit,$circlebakcolor:$colourv,$circlecolor:$colouriii,$circlecolorhover:$colourvi) {
  // font size controls the actual size
  font-size: $socisize*1;
//  font-family: 'socicon';
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: $socisize*2;
    height: $socisize*2;
    box-shadow: 0 2px 2px #999;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    color: $circlecolor;
    font-weight: normal;
    line-height: $socisize*2;
    border-radius: $socisize;
    -moz-border-radius:$socisize;
    -webkit-border-radius:$socisize;
    background-color: $circlebakcolor;
    &:hover {color: $circlecolorhover;}
}

//blog mixin 
@mixin blogstyle {
    .views-row {
  padding: 2rem;    
  // this should be calculated with the picture sized to
  //match the size of the row
  //but I think the picture size is set by the medium blog image handler.
  height: 320px;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid black;

  box-sizing: border-box;
  margin-bottom: $padder;

    section {
    box-sizing: border-box;
    float: right;
    padding-left: 30px;
    width: 66.34%;
    }

    .views-field-field-picture {
    box-sizing: border-box;
    float: left;
    margin-bottom: 0;
    width: 33.66%;
    }

  }
}