//$pt-sans    : 'PT Sans', Helvetica, Arial, sans-serif;
//$maven-pro  : 'Maven Pro', Helvetica, Arial, sans-serif;
$ft-family  : 'Open Sans', sans-serif;
$ft2-family : $ft-family;

$base-font-size: 14px;
$base-line-height: 20px;
