/**
 * $blog stylings (do not include conatiner stylings)
 */


//General settings




//hide the image in the body
/* s */


/*********** Rand *************

you should have a blog .css so taht you can give it the 
css for both instead of doing what you have done below.
*/

//test to get picture from inm posts

// I changed in the blohhome view to skip 10 posts.
// will need to change it back.




// end test



//temp

/* .view-frontpage {
  img, media { */
    /*
  max-width: 70%;
  height: 16rem;
  width: auto;
  vertical-align: top;
  */
//  width: 100px;
/*   width: auto;
  height: 16rem;
  background-position: center center;
  background-repeat: no-repeat;  
    @include breakpoint($breaki){
    max-width: 100%;
    }
  }
} */

//blog mixin 
/* 
@mixin blogstyle {

  .views-row {
  padding: 2rem;    
  // this should be calculated with the picture sized to
  //match the size of the row
  //but I think the picture size is set by the medium blog image handler.
  height: 20rem;
  overflow: hidden;
  text-align: center;
  background-color: white;
  border-bottom: 1px solid black;

  box-sizing: border-box;
  margin-bottom: $padder;

    section {
    box-sizing: border-box;
    float: right;
    padding-left: 30px;
    width: 66.34%;
    text-align: left;
    overflow: hidden;
    height: 16rem;
    line-height: 1.2rem;
    @include breakpoint($breaki) {
      height: 9rem;
      padding: 0.5rem;
      width: 100%;
      z-index: 1;
//      padding: 0;
//      padding-left: 0;
//      background-color: $colourv;
      background: lighten($colouriii, 25%);
      }
      @include breakpoint($breaki){
        height: 5.5rem;
      }    
    }

    .views-field-field-picture {
      box-sizing: border-box;
      float: left;
      text-align: left;
      margin-bottom: 0;
      width: 33.66%;
      img {  @include center-block; }
    }
  }
  .more-link {
  top: -4rem;
  position: relative;
  right: 1rem;
  height: 0;
  }

} */