/**
 * $blurb stylings (do not include conatiner stylings)
 */

.view-homepage-blurbs {
 .view-content {
	.views-row{
		background-color:$colourv;
		padding: 2rem;
	    margin-bottom: 2rem;
	    //set container height
		height: 20rem;
	}
	@include breakpoint($breakii) {
		@include blogstyle_m2
	}

  }

}
/* maybe instead separate into rows
then you could
3-2-1 them for breakpoints and
you could make the top ones the most
important that would show on the mobile view.

*/

