/**
 * $content layout
 */

 /*
//Gutters?

/** Mixins!!!
**/
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

//.view-homepage-blurbs .views-row {width: 30.66%}
.view-homepage-blurbs {
	.views-row .views-field-field-icon, .views-row .views-field-title {
	  display: inline-block;
	}
	h2 {font-size: 2rem;}
//	width: 30%;
}