//
// Inner pages
// --------------------------------------------------


// Node Content
// -------------------------



//###### also a general comment ####
//make sure your overall look matches / is consistent
//border radius on inner pages bu squares in mobile front page view


.node__content {
  background-color: $colourv;
  border-radius:$radius;
  padding: 1.5%;
  p {color: black}
  a {color: $colouriii}
  a:hover {color: $colouri}
}

//temp to see look
.comment__content {
  border-radius: $radius;
}

