/**
 * $TABLES
 */

$t_color:$colouriii;


table {
  width: 100%;
  margin-bottom: $vert-spacing-unit;
}

th {
  padding: 0.5em 1em;
  background-color: $colouriv;
  //$colouriv
  color: $t_color;

  a,
  a.active {
    color: $t_color;

    img {
      margin: 2px 3px;
    }
  }
}
td {
  padding: 0.5em 1em;
}

tr.odd {
  background: lighten($colouriii, 4%);
}
tr.even {
  background: lighten($colouriii, 8%);
}

caption {
  @extend .delta;
}

td.active {
  background-color: $colouri;
}
