/**
 * _footer_mobile
 */

// all the bottom pop up container
.followpop, .pane-logintoboggan-logintoboggan-logged-in, .outer_search {
	@include breakpoint($breakii){
	display: none;
	background-color: $colouriii;
	position: absolute;
	bottom: 3rem;
	left: 0;
	width: 100%;
	padding: 0.5rem;
	}
}
.pane-logintoboggan-logintoboggan-logged-in, .outer_search {
	display: none;
	float: right;
	padding: .5rem 0; // 0 0;
	margin: .25rem 0;
}

.followpop {
  display: none;
}

#mini-panel-followmenu .inside{
	@include breakpoint($breakii){
	display: flex;
	> div {
		display: inline-block;
		width: 24.5%;
		&:first-child {border-left: 1px solid grey;}
		border-right: 1px solid grey;
			.fa {display: block;
				text-align: center;
			}
//		padding: 0;
	}
	.pane-logintoboggan-logintoboggan-logged-in, form {width: 100%}
	
	.pane-logintoboggan-logintoboggan-logged-in {
		display: none;
		border: none;
		}
	}
}



.outer_search {
	@include breakpoint($breakii){
	display: none;
	position: absolute;
	bottom: 2.92rem;
	width: 100%;
	height: auto;
	left: 0;
//	background-color: $colouriv;
	.form-submit {background-color: $colouri;}	
	.search_form {display: inline-flex;}
	}
}

