/**
 * _footer_mobile
 */

#mini-panel-followmenu .inside{
	@include breakpoint($breakii){
	display: flex;
	> div {
		display: inline-block;
		width: 24.5%;
		&:first-child {border-left: 1px solid;}
		border-right: 1px solid;
			.fa {display: block;
				text-align: center;
			}
//		padding: 0;
	}
	.pane-logintoboggan-logintoboggan-logged-in, form {width: 100%}
	
	.pane-logintoboggan-logintoboggan-logged-in {
		display: none;
		border: none;
		}
	}
}



.outer_search {
	@include breakpoint($breakii){
	display: none;
	position: absolute;
	bottom: 2.92rem;
	width: 100%;
	height: auto;
	left: 0;
	background-color: $colouriv;
	.form-submit {background-color: $colouri;}	
	.search_form {display: inline-flex;}
}
}