/**
 * Header
 */


 //another ctools fix
 //.panels-flexible-row-sitecontainer-1 is the site header row
.panels-flexible-row-sitecontainer-1{
  .panels-flexible-row {padding: 0;}
}

.header {
  background: $colourvii;
  @include breakpoint($breakii){
  background: $colourvii; 
  }
}


// colour and size header row
.headerrow {
  width: 100%;
  font-size: $vert-spacing-unit;
  }
 
//header size on homepage only.
 .page-home .headerrow{
  height: 450px;
  width: 100%;
  @include breakpoint ($breakii){
//    background: none;
    height: 250px;
  }
}


//could be called anything empty to add frontpage background 
.headerrow {
  background: url("/files/_site_branding_images/12milecouleeschoolbikes.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
  background-position: bottom;
  height: auto;
  width: 100%;
}

//--- Header ---

//normalize header
//?? what is this for?
.header {
    div, li, a {color:$colourv;
  &:hover {color:$colourvhover}
  }
}

//--- Logo ---
.logged-in .pane-page-logo {
    top: 1.9rem;
    @include breakpoint ($breakii){
    top: inherit;
    }
}
.pane-page-logo {
  img {height: $menu_size;}
  display: inline;
  position: absolute;
  top: .3rem;
  padding: 0 $horz-spacing-unit;
  z-index: 200;
  @include breakpoint ($breakii){
    img {height: 2rem;
        margin-top: 0.25rem;}
    left: 2rem;
    margin-top: .19rem;
    top:inherit;
  }
}
