/**
 * Header
 */


 //another ctools fix
 //.panels-flexible-row-sitecontainer-1 is the site header row
.panels-flexible-row-sitecontainer-1{
  .panels-flexible-row {padding: 0;}
}

.header {
  background: $colourvii;
  @include breakpoint($breakii){
  background: $colourvii; 
  }
}


// colour and size header row
.headerrow {
  width: 100%;
  font-size: $vert-spacing-unit;
  }
 
//header size on homepage only.
 .page-home .headerrow{
  height: 450px;
  width: 100%;
  @include breakpoint ($breakii){
//    background: none;
    height: 250px;
  }
}


//could be called anything empty to add frontpage background 
.headerrow {
  background: url("/files/_site_branding_images/12milecouleeschoolbikes.jpg") no-repeat fixed center center / cover  rgba(0, 0, 0, 0);
  background-position: bottom;
  height: auto;
  width: 100%;
  @include breakpoint($breaki){
   background-position: bottom 10rem center;
   }
  @include breakpoint($breakii){
   background-position: bottom 8rem center;
   }
}

//--- Header ---

//normalize header
//?? what is this for?
.header {
    div, li, a {color:$colourv;
  &:hover {color:$colourvhover}
  }
}


