/**
 * $BetterMenus
 */


//--- Logo ---
.logged-in .pane-page-logo {
    top: 1.9rem;
    @include breakpoint ($breakii){
    top: inherit;
    }
}
.pane-page-logo {
  img {height: $menu_size;
  z-index: 200;
  display: inline;
  position: absolute;
  margin-left: 4rem;
  top: 1rem;
	}
//  top: .3rem;
//  padding: 0 $horz-spacing-unit;
  @include breakpoint ($breakii){
    position: fixed;
    img {height: 2rem;
        margin-top: 0.25rem;}
    left: 2rem;
    margin-top: .19rem;
    top:inherit;
  }
}



