/**
 * $Follow Menu
 */


// social icons
.follow {
  display: inline;
  vertical-align: bottom;
}
.followpop {
  @include breakpoint ($breakii){
  display: none;
  position: absolute;
  bottom: 52.5px;
  background-color: $colouriv;
  padding: .2rem .5rem;
  width: 3.5rem;
  left: 0;
  }
}

.popper {
  display: none;
  @include breakpoint ($breakii){
  display: inline-block;
  }
}
.follow_menu {
  position: absolute;
  right: $horz-spacing-unit;
  top: $vert-spacing-unit/2;
  z-index: 10;
  @include breakpoint ($breakii){
//  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:$colouriv;
  width: 100%;
  padding: .3rem;
//  font-size: $vert-spacing-unit;
  top: inherit;
  button {display: none;}
  }
}

//temp

.fullwidth {position: absolute;
top: 0;}

.flexslider .slides img {
  height: 500px;
}