/**
 * $Follow Menu
 */


// social icons
.follow {
  display: inline;
  vertical-align: bottom;
}

.followpop {
  display: inline-block;
  @include breakpoint ($breakii){
  display: none;
  position: absolute;
  bottom: 46.5px;
  background-color: $colouriv;
  width: $menu_size;
  left: 0;
  border-radius: 4px 4px 0 0;
  padding: .3rem 0;
  line-height: 2.5rem;
  span {margin-left: ($menu_size - $menu_size2)/2}
  }
}

.popper {
  display: none;
  @include breakpoint ($breakii){
  display: inline-block;
  }
}

.follow_menu {
  /*
  position: absolute;
  right: $horz-spacing-unit;
  top: $vert-spacing-unit/2;
  */
  //test
  float: right;
  width: 316px;
  margin-top: -2.8rem;
  //test
  z-index: 10;
  //icons size (user and search)
  .fa {font-size: $vert-spacing-unit*2;
  vertical-align: middle;
  }
  @include breakpoint ($breakii){
//  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:$colouriv;
  width: 100%;
  padding: .3rem;
//  font-size: $vert-spacing-unit;
  top: inherit;
  button {display: none;}
  }
}

//temp

//.fullwidth {position: absolute;
//top: 0;}

.flexslider .slides img {
  height: 500px;
}