//Superfish menus

//this controls the child ul
.sf-menu li.sfHover > ul {
  left: 0;
  //below parent
  top: 2em;
  // give ul background a little more length for hover underline.
  padding-bottom: .5rem;
}
/*
.superfisher {
  display: inline-block;
  vertical-align: bottom;
  margin: .5rem 0.5rem;
}
*/

//this is the drop down menus
.sf-menu {
	vertical-align: bottom;
	ul {background-color:$headerbackground;
		opacity: .8}
	li {float: left;
		font-size: 1.5rem;
		margin-left: .6rem;
		line-height: 2rem;
	}
	li a{text-decoration: none;
	color: $headerlink;
	display: inline;
	&:hover {color:$headerlinkhover;
			border-bottom:1px solid;
			padding-bottom: 0
			}
	}
}

.pane-site-menus {
  display: table;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  right: 0;
  top: 2.6rem;
}