/**
 * $home section 2.1
 */
@import "../components/*";

.section_2_1	{
	@include three-col(right);
/*
	@include grid-span(4, 9);
	> .inside {
	@include regioner(right, top);

	overflow: hidden;
	padding: 2rem 1rem;
	background-color: $colourv;
	}
	*/
	height: 672px;
	margin-top: 2rem;	
}