/**
 * $home section 2.1
 */
@import "../components/*";

.section_2_1	{
	@include grid-span(4, 9);
	> .inside {
	@include regioner(right, top);
	height: 672px;
	overflow: hidden;
	padding: 2rem 1rem;
	background-color: $colourv;
	}
}