/**
 * $home all sections
 */

//this is the body
.panels-flexible-row-sitecontainer-main-row {
	background-color: #d3d3d3;
		
	.s_art {
		background-color: white;
	}
	// because it has 2 margin tops added
	.pane-views-homepage-blurbs-block-1 .views-row{
		margin-top: 0;
	}
}

//ctools override
.panels-flexible-region {width: 100%}

//ctools override 
.sitecontainer .panels-flexible-region-inside {
  padding-left: 0;
  padding-right: 0;
}
