/**
 * $home section 4 blurbs
 */

.section_4, .section_4_1, .section_4_2 {
	> .inside {background-color:white;
	}
}

.section_4	{
	@include grid-span(4, 1);
	> .inside {
		@include regioner(left);
	}
}

.section_4_1	{
	@include grid-span(4, 5);
	> .inside {
		@include regioner(middle);
	}
}

.section_4_2	{
	@include grid-span(4, 9);
	> .inside {
		@include regioner(right);
	}
}










/*




.pane-views-homepage-blurbs-block-1 {
	@include grid-span(8, 5);
}


.pane-views-homepage-blurbs-block-1 {
	background-color: red;
	height: 320px;

		.fa {display: list-item;
			list-style: none;
			text-align: center;
		//	font-size: 3rem;
		}
		h2 {text-align: center;}
//	max-width: 33%;
	.views-field-body {display: none;}
//	.views-row {max-width: 100px;}
	.view-content {
//		border: medium solid yellow;
	}
	.views-row {
		border-bottom:1px solid $colourv;
	  &:hover, &:active {
		border-color:$colouri;
		border-width: 2px;
		h2 {color:$colouri}
		}
	}
//looks ok, but would look much better with auto sizing divs and 
//fittext type scaling
$iconsize: 4.5rem;

.view-content {
//    border: 2px dashed #444;
    height: $iconsize;
    
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
    
}

.view-content > div {
    width:155px;
//    height: 125px; 
	height: $iconsize;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    zoom: 1
}
.view-content:after {
    content: '';
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

	h2 {font-size: $iconsize/4.5;
		color: $colourv;
		vertical-align: middle;
		padding: $iconsize/9  $iconsize/18;
		box-sizing:border-box;
	}

}

*/