/**
 * $home Section 2
 */


.section_2	{
//	$gutter-styles: 'split';
	@include grid-span(8, 1);
	> .inside {
	  margin-left: $padder;
	  margin-top: $padder/2;
	}
	@include blogstyle;
	.more-link {
 	border-bottom: 1px solid blue;
	}
	
}