/**
 * $home blog
 */


//.blog_row {display: none;}

.blog_row {
  background-color: $colourv;
  .views-row {border-bottom: 1px solid black;
  footer {width: 20%}
//   header, footer {float: right}



  }
}