/**
 * $home blurbs
 */


.blog_row {
  //sets the blog posts to the right side of page
    @include grid-span(8, 5);  
}

// blog post data and # of comments
.views-field-created {border-bottom: 1px solid grey;}
.blogpublished {
//  padding: .5rem 0;
}

.blogposts {
  text-align: center;
}

.pane-views-homepage-blog-block-3 {
  .views-row {
  @include threespan;
  @include backgro;
  padding: 1rem;
  //add some spacing between 
//  margin-top: 2rem;
//  margin-bottom:2rem;
  }
}

// blog post data and # of comments
.views-field-created {border-bottom: 1px solid grey;}
.blogpublished {
//  padding: .5rem 0;
}






// july 25, 2014 legacy rebuild below.


.blogpost {max-width: $vert-spacing-unit*18}


//.blog {
//text-align: center;
//padding: 0 .5rem;
//}

@mixin circ {
  border: solid; 
  border-width: thin;
  border-color: #e8e8e8;
}


//user picture container

.blog .user-picture {
  padding: .3rem;
  border-radius: 50%;
  display: inline-block;
  background-color: white;
  @include circ;
  &:hover {background-color: $bcgren;}
  z-index: 1;
  position: relative;
  top: -40px; //half the size of the .node--submitted div.
  //user picture
  img {
    $sizer: 5rem;
    border-radius: $sizer/2;
    height: $sizer;
    width: $sizer;
    @include circ;
    }
}

// blog image
.blog .views-field-field-picture {
  position: relative;
  overflow: hidden;
  img {border-radius: 3px;}
}

.blog .views-field-title a {
  color: $headerlink;
  &:hover {color:$headerlinkhover;}
  font-size: 120%;
  font-weight: 600;
  line-height: 1.2;
  text-transform: uppercase;
  position: relative;
  top: -25px;
}



